


:root{
    --head-color: #494949;
    --theme-color: #6223CC;
    --theme-one: #36517866;
    --theme-two: #99754566;
    --primary-color: #6223CC;
    --secoundary-color: #F05223;
    --secoundary-one: #2f16;
    --white-color: #fff;
    --black-color: #170808;
    --ratting-color: #FFB32B;
    --pragraph-color: #535353;
    --object-color: #CFCFCF;
    --icon-color: #898989;
    --bg-one: #FFF7F4;
    --bg-two: #FAF8FF;
    --bg-three: #2f16;
    --bg-four: #2f16;
    --bg-five: #2f16;
    --bg-six: #2f16;
    --border-color: #ebebee;
}